body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #e479ff;
}

header {
    background-color: #851794;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.title-web{
    color: #fff;
    margin-right: 150px;
}

.search {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 50px;
    background-color: #9121a0;
    color: #fff;
    font-size: 1rem;
    margin-right: 50px;
    margin-top: 25px;
}

.search::placeholder {
    color: #fff;
}

.search:focus {
    outline: none;
    background-color: #444;
}

.logo {
    width: 80px;
    height: 80px;
    margin-top: 0px;
    border-radius: 50%;
  }

  main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .movie{
    width: 300px;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: #fff;
    position: relative;
    overflow: hidden;
  }

  .movie img{
    width: 100%;
  }

  .movie-info{
    display: flex;
    color: #361e6d;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
  }

  .movie-info h3{
    margin-top: 0;
  }

  .movie-info span{
    background-color: #3b1452;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
  }

  .movie-info span.green{
    color: lightgreen;
  }

  .movie-info span.orange{
    color: yellow;
  }

  .movie-info span.red{
    color: red;
  }

  .movie-info span.white{
    color: white;
  }

  .overview{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    max-height: 100%;
    background-color: #fff;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
  }

  .movie:hover .overview{
    transform: translateY(0);
  }